DATABASE_URL=file:D:/Projects/apex/app/backend/data/database.sqlite
EMAIL_PROVIDER_USERNAME=upennduocircle
EMAIL_PROVIDER_PASSWORD=key-goes-here
FILE_CLEANUP_PERIOD_DAYS=10
RATE_LIMIT_MAX_REQUESTS=100
LSF_CLUSTER_BASE_PATH=/project/apexgpu_shared